@font-face {
  font-family: "Gotham-Black";
  src: url("../../public/assets/fonts/Gotham-Black/Gotham-Black.otf") format("otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gotham-black", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

main {
  max-width: 1200px;
}

#mainPages {
  margin: 0 auto;
  padding: 0 1em;
}

.flex-center, .header-color-primary, .header-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-square-medium, .human-ressources-offers__links-mail-to, .button__square--green, .button__square--transparent {
  padding: 1em 2.5em;
  border: none;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: 200ms;
}
.button-square-medium:hover, .human-ressources-offers__links-mail-to:hover, .button__square--green:hover, .button__square--transparent:hover {
  transform: scale(1.02);
}

.button-active:active, #headerHamburger:active, .human-ressources-offers__links-mail-to:active, .small-button__square--green:active, .button__square--green:active, .button__square--transparent:active {
  transform: scale(0.98);
}

.header-links-display, #responsiveHeaderDom .responsive-header-transparent a, #responsiveHeaderDom .responsive-header-primary a, .header-color-primary .header-nav__container--link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 200ms;
}

.header-links-after-display, #responsiveHeaderDom .responsive-header-transparent a::after, #responsiveHeaderDom .responsive-header-primary a::after, .header-color-primary .header-nav__container--link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -0.3em;
  left: 0;
  opacity: 0;
  transform: translateX(-20px);
  transition: 200ms;
}

.actualitiesh2, .actualities-horizontal-container h2, .actualities-vertical-container__article h2 {
  font-size: 1.7em;
  text-transform: uppercase;
  margin-bottom: 0.2em;
}

.actualitiesh3, .actualities-horizontal-container h3, .actualities-vertical-container__article h3 {
  font-size: 1.2em;
  text-transform: uppercase;
  opacity: 0.8;
}

.actualities-separator, .human-resources-offers__h2-separator, .actualities-horizontal-container__article--separator, .actualities-vertical-container__article--separator {
  background-color: #214b41;
  width: 100%;
  height: 1px;
  margin: 0.5em 0;
}

.actualities-p, .actualities-horizontal-container p, .actualities-vertical-container__article p {
  text-align: justify;
  font-size: 16px;
  line-height: 1.2em;
}

.light-primary-background {
  background-color: #f0f9f6;
  color: #4f897d;
  flex-direction: column;
}

.services-partner-display, .partners-container__secondary, .partners-container__principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.button__square--transparent {
  background-color: rgba(255, 255, 255, 0.7);
  color: #214b41;
  border: solid 1px #214b41;
  cursor: pointer;
}

.button__square--green {
  background-color: #214b41;
  color: #ffffff;
}
.button__square--green a {
  color: #ffffff;
  text-decoration: none;
}

.small-button__square--green {
  border: none;
  padding: 0.3em 0.4em;
  background-color: #214b41;
  color: #ffffff;
  font-weight: 500;
  margin-right: 1.2em;
}

.human-ressources-offers__links-mail-to {
  display: block;
  padding: 0.7em 3.5em;
  background-color: #f0f9f6;
  color: #000000;
  text-decoration: none;
}

#pagesH1 {
  position: relative;
  padding: 3em 0 1em;
  text-transform: uppercase;
  text-align: center;
  color: #214b41;
  font-weight: 100;
}
#pagesH1::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 35%;
  background-color: #214b41;
  top: 68.5%;
  right: 0;
}
@media (max-width: 1250px) {
  #pagesH1::after {
    width: 30%;
  }
}
#pagesH1::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 35%;
  background-color: #214b41;
  top: 68.5%;
  left: 0;
}
@media (max-width: 1250px) {
  #pagesH1::before {
    width: 30%;
  }
}

.separator-black {
  width: 100%;
  height: 1px;
  background-color: #214b41;
  margin: 1.2em 0 1.5em;
}

.separator-white {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  margin: 1.2em 0 1.5em;
}

.separator-primary-medium {
  width: 100%;
  height: 1px;
  background-color: #4f897d;
  margin: 1.2em 0 1.5em;
}

.legal-disclaimer__container--separator {
  height: 1px;
  background-color: #214b41;
  width: 60%;
  margin: 2em 0;
}

#actualitiesPartnerSlider {
  width: 50%;
  position: relative;
  overflow: hidden;
}
#actualitiesPartnerSlider .translateX-slider {
  position: absolute;
  display: flex;
  width: 400%;
  animation: fade 14000ms infinite;
}
#actualitiesPartnerSlider .translateX-slider .partner-slider-img {
  transition: 1000ms;
}
#actualitiesPartnerSlider .translateX-slider .partner-slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes fade {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-25%);
  }
  28% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  53% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(-75%);
  }
}
.services-container__delivery {
  display: flex;
  height: 350px;
}
.services-container__delivery-article {
  width: 60%;
  padding-right: 4em;
}
.services-container__delivery-pictos {
  width: 40%;
  min-width: 370px;
  height: 100%;
  border-left: solid 1px #000000;
}
.services-container__delivery-pictos--france {
  display: flex;
  position: relative;
  height: 50%;
  padding-left: 1em;
}
.services-container__delivery-pictos--france::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 1px;
  background-color: #000000;
}
.services-container__delivery-pictos--paris {
  display: flex;
  height: 50%;
  padding: 1em 0 0 1em;
}
.services-container__delivery-pictos .delivery-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  min-width: 85px;
}
.services-container__delivery-pictos .delivery-preview img {
  object-fit: cover;
  width: 82px;
  margin-bottom: 0.6em;
}
.services-container__delivery-pictos .delivery-preview p {
  width: 90%;
  text-align: center;
}
.services-container__delivery-pictos .delivery-preview p span {
  font-weight: 600;
}

.services-container-little-more {
  display: flex;
  position: relative;
}
.services-container-little-more__advantages {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
}
.services-container-little-more__advantages h5 {
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 1em 0 1.5em;
}
.services-container-little-more::after {
  content: "";
  position: absolute;
  left: 25%;
  height: 100%;
  width: 1px;
  background-color: #4f897d;
}
.services-container-little-more__fidelity {
  width: 50%;
  height: 100%;
  padding: 1.5em;
  background-color: #4f897d;
  color: #ffffff;
  -webkit-box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.61);
  box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.61);
}
.services-container-little-more__fidelity p {
  height: 60px;
}
.services-container-little-more__fidelity #fidelityPiggies {
  width: 100%;
}

.partners-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding: 1em 0 1em;
  text-align: center;
}
.partners-container h6 {
  text-transform: uppercase;
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 0.6em;
}
.partners-container__principal {
  width: 40%;
}
@media (max-width: 1250px) {
  .partners-container__principal {
    width: 100%;
    margin-bottom: 2em;
  }
}
.partners-container__principal img {
  object-fit: cover;
  width: 60%;
  margin-bottom: 2em;
}
@media (max-width: 1250px) {
  .partners-container__principal img {
    width: 50%;
    min-width: 400px;
  }
}
.partners-container__secondary {
  position: relative;
  width: 20%;
  min-width: 200px;
  border-left: 1px solid #4f897d;
  border-right: 1px solid #4f897d;
}
@media (max-width: 1250px) {
  .partners-container__secondary {
    width: 33%;
    height: 350px;
  }
}
.partners-container__secondary img {
  position: absolute;
  object-fit: cover;
  width: 65%;
  top: -1em;
}
.partners-container__secondary #toGoodToGoImg {
  width: 50%;
  top: -2.5em;
}
.partners-container__secondary--informations {
  margin-top: 5em;
}
@media (max-width: 1250px) {
  .partners-container__secondary--informations {
    margin-top: 8em;
  }
}
.partners-container__secondary--background-primary {
  background-color: #f0f9f6;
}
.partners-container__secondary--background-primary img {
  position: absolute;
  object-fit: cover;
  width: 65%;
  top: 1em;
}
.partners-container__secondary button {
  position: absolute;
  bottom: 1em;
}

.services-container__eco-responsability {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 322px;
  margin-bottom: 4em;
}
.services-container__eco-responsability h3 {
  position: relative;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
}
.services-container__eco-responsability p {
  margin-bottom: 2em;
}
.services-container__eco-responsability .eco-responsability--img {
  object-fit: cover;
  width: 100%;
  height: 322px;
}
.services-container__eco-responsability--article {
  width: 49.5%;
  position: relative;
}
.services-container__eco-responsability--article img {
  position: absolute;
  z-index: -1;
}
.services-container__eco-responsability--article-texte {
  padding: 1.5em;
}
.services-container__eco-responsability--article-texte img {
  height: 34px;
}
.services-container__eco-responsability--img {
  width: 49.5%;
  -webkit-box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.61);
  box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.61);
}

.human-resources-offer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 23%;
  min-width: 280px;
  height: 410px;
  color: #ffffff;
  padding: 2em 1.5em;
  margin-bottom: 2em;
}
.human-resources-offer h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
}
.human-resources-offer img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 2em;
}
.human-resources-offer p {
  text-align: justify;
  margin-bottom: 2em;
}
.human-resources-offer a {
  position: absolute;
  bottom: 2em;
}
.human-resources-offer__junior {
  background-color: #1cb092;
}
.human-resources-offer__senior {
  background-color: #1ba39e;
}
.human-resources-offer__vacataire {
  background-color: #0c8389;
}
.human-resources-offer__spontanus {
  background-color: #5fb0a1;
}

.legal-disclaimer {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}
.legal-disclaimer__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.legal-disclaimer__container img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 2em;
}
.legal-disclaimer__container select {
  font-family: "gotham-black", sans-serif;
  background-color: #ffffff;
  color: #214b41;
  border: none;
  padding: 0.2em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.legal-disclaimer__container #flag {
  width: 40px;
  height: 30px;
  margin-bottom: 1em;
}
.legal-disclaimer__container--choices {
  margin-top: 1em;
}
.legal-disclaimer__container--choices button {
  text-transform: uppercase;
  margin: 1em;
}

.header-transparent {
  width: 100%;
  position: fixed;
  transition: 500ms;
  z-index: 9;
}
.header-transparent #logoHeaderNav {
  display: none;
}
.header-transparent .header-nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1220px;
  padding: 1.6em 0;
  transition: 500ms;
}
.header-transparent .header-nav__container--link {
  position: relative;
  color: #214b41;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: 200ms;
  letter-spacing: 1px;
}
.header-transparent .header-nav__container--link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -0.3em;
  left: 0;
  background-color: #214b41;
  opacity: 0;
  transform: translateX(-20px);
  transition: 200ms;
}
.header-transparent .header-nav__container--link:hover::after {
  opacity: 1;
  transform: translateX(0px);
}
@media (max-width: 1250px) {
  .header-transparent .header-nav__container {
    display: none;
  }
}

.header-color-primary {
  width: 100%;
  position: fixed;
  transition: 500ms;
  background-color: #214b41;
  z-index: 9;
  min-height: 70px;
  -webkit-box-shadow: 1px 3px 10px 3px rgba(0, 0, 0, 0.59);
  box-shadow: 1px 3px 10px 3px rgba(0, 0, 0, 0.59);
}
.header-color-primary #logoHeaderNav {
  position: absolute;
  left: 2em;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  object-fit: cover;
  transition: 500ms;
}
.header-color-primary .header-nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1220px;
  width: 80%;
  padding: 1.6em 0;
  transform: translateX(110px);
  transition: 500ms;
}
.header-color-primary .header-nav__container--link {
  color: #ffffff;
}
.header-color-primary .header-nav__container--link::after {
  background-color: #ffffff;
}
.header-color-primary .header-nav__container--link:hover::after {
  opacity: 1;
  transform: translateX(0px);
}
.header-color-primary .header-nav__container--link--actif {
  font-weight: 600;
}
.header-color-primary .header-nav__container--link--actif::after {
  opacity: 1;
  transform: translateX(0px);
}
@media (max-width: 1250px) {
  .header-color-primary .header-nav__container {
    display: none;
  }
}

#headerHamburger {
  position: absolute;
  display: none;
  right: 1em;
  top: 1.5em;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 9;
}
@media (max-width: 1250px) {
  #headerHamburger {
    display: flex;
  }
}

#responsiveHeaderDom {
  display: none;
  z-index: 8;
}
#responsiveHeaderDom .responsive-header-primary {
  position: fixed;
  display: flex;
  z-index: 2;
  flex-direction: column;
  top: 0;
  padding-top: 100px;
  width: 100%;
  text-align: center;
  background-color: #214b41;
}
#responsiveHeaderDom .responsive-header-primary a {
  color: #ffffff;
  margin: 1em 0;
}
#responsiveHeaderDom .responsive-header-primary a::after {
  background-color: #ffffff;
  width: 20%;
  left: 50%;
  transform: translateX(-50%);
}
#responsiveHeaderDom .responsive-header-primary a:hover::after {
  opacity: 1;
  transform: translateX(-50%);
}
#responsiveHeaderDom .responsive-header-primary a--actif {
  font-weight: 600;
}
#responsiveHeaderDom .responsive-header-primary a--actif::after {
  opacity: 1;
  transform: translateX(0px);
}
@media (min-width: 1250px) {
  #responsiveHeaderDom .responsive-header-primary {
    display: none;
  }
}
#responsiveHeaderDom .responsive-header-transparent {
  position: fixed;
  display: flex;
  z-index: 2;
  flex-direction: column;
  top: 0;
  padding-top: 100px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
#responsiveHeaderDom .responsive-header-transparent a {
  color: #214b41;
  margin: 1em 0;
}
#responsiveHeaderDom .responsive-header-transparent a::after {
  background-color: #214b41;
  width: 20%;
  left: 50%;
  transform: translateX(-50%);
}
#responsiveHeaderDom .responsive-header-transparent a:hover::after {
  opacity: 1;
  transform: translateX(-50%);
}
#responsiveHeaderDom .responsive-header-transparent a--actif {
  font-weight: 600;
}
#responsiveHeaderDom .responsive-header-transparent a--actif::after {
  opacity: 1;
  transform: translateX(0px);
}
@media (min-width: 1250px) {
  #responsiveHeaderDom .responsive-header-transparent {
    display: none;
  }
}

#footer {
  padding: 1.5em;
  background-color: #ffffff;
  border-top: solid 1px #214b41;
}
#footer .footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}
#footer .footer-links__social {
  display: flex;
  align-items: center;
  text-align: center;
}
#footer .footer-links__social p {
  opacity: 0.8;
  margin-right: 1em;
  min-width: 200px;
}
#footer .footer-links__social input {
  border: none;
  background-color: #dfdfdf;
  padding: 0.3em 0.5em 0.3em 0.3em;
}
#footer .footer-links__social--network-icons {
  display: flex;
}
#footer .footer-links__social--network-icons img {
  width: 22px;
  height: 22px;
  margin: 0.2em 0.5em 0 0;
}
#footer .footer-links p span {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}
#footer .footer-links__legal-press {
  display: flex;
  flex-wrap: wrap;
}
#footer .footer-links__legal-press a {
  text-decoration: none;
  color: #000000;
  opacity: 0.8;
  margin-left: 2em;
}
#footer .footer-links__legal-press a:hover {
  text-decoration: underline grey;
}
#footer .footer-disclaimer {
  font-size: 0.7em;
}

#homeCarouselFullPage {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}
#homeCarouselFullPage .home-carousel__images-full {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
#homeCarouselFullPage .home-carousel__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  width: 90%;
  max-width: 900px;
  bottom: 0;
  transform: translateX(-50%);
}
#homeCarouselFullPage .home-carousel__container--logo {
  max-width: 500px;
  width: 95%;
  margin-bottom: 5vh;
}
#homeCarouselFullPage .home-carousel__container--arrow {
  margin: 1.5em 0;
  width: 60px;
  animation: arrow-up-and-down infinite 7s;
  cursor: pointer;
}

@keyframes arrow-up-and-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
#homeAboutUs {
  width: 100vw;
  height: 100%;
}
#homeAboutUs .home-about-us__article-container {
  display: flex;
}
#homeAboutUs .home-about-us__article-container--img-xl {
  width: 40%;
  object-fit: cover;
}
#homeAboutUs .home-about-us__article-container--article {
  width: 100%;
  padding: 7em 4em;
}
#homeAboutUs .home-about-us__article-container--article h1 {
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0.1em;
}
#homeAboutUs .home-about-us__article-container--article h3 {
  font-weight: 500;
  font-size: 1.1em;
  text-transform: uppercase;
}
#homeAboutUs .home-about-us__article-container--article--paragraph {
  text-align: justify;
  line-height: 1.3em;
  margin: 2em 0;
}
#homeAboutUs .home-about-us__article-container--article .pictos-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 3em 0 2em;
}
#homeAboutUs .home-about-us__article-container--article .pictos-container__element {
  width: 16.5%;
  min-width: 100px;
  text-align: center;
}
#homeAboutUs .home-about-us__article-container--article .pictos-container__element img {
  object-fit: cover;
  margin: 1em 0;
}
#homeAboutUs .home-about-us__article-container--article .pictos-container__element p {
  width: 90%;
}
#homeAboutUs .home-about-us__images-container {
  height: 25vh;
  display: flex;
}
#homeAboutUs .home-about-us__images-container img {
  width: 20%;
  object-fit: cover;
}

#map {
  height: 100%;
  min-height: 600px;
  width: 100%;
}

.maps-store-preview {
  padding-right: 1.5em;
}
.maps-store-preview__name {
  color: #214b41;
  font-size: 1.3em;
}
.maps-store-preview__address {
  margin-bottom: 1em;
}
.maps-store-preview__contact {
  margin-bottom: 1em;
}
.maps-store-preview__contact a {
  color: #214b41;
  text-decoration: none;
}
.maps-store-preview__hours {
  margin-bottom: 1em;
}
.maps-store-preview__itinerary {
  color: #214b41;
  text-decoration: none;
}

#localisationContainer {
  display: flex;
  width: 100%;
  margin-bottom: 18vh;
}
#localisationContainer .localisation-list {
  width: 35%;
  min-width: 400px;
  height: 80vh;
  max-height: 600px;
  background-color: #214b41;
  padding: 2em;
}
#localisationContainer .localisation-list__search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  width: 100%;
}
#localisationContainer .localisation-list__search input {
  width: 87%;
  border: none;
  background-color: #dfdfdf;
  padding: 0.4em 0 0.4em 0.4em;
}
#localisationContainer .localisation-list__stores {
  color: #ffffff;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}
#localisationContainer .localisation-map {
  width: 65%;
  height: 100%;
  min-height: 600px;
  background-color: #f0f9f6;
}

.localisation-list__stores--store {
  border-top: 1px;
  border-style: dotted none none;
  padding-top: 1em;
  padding: 1.5em 1.5em 1.5em 0.5em;
  transition: 200ms;
  cursor: pointer;
}
.localisation-list__stores--store h6 {
  font-size: 1em;
  margin-bottom: 1em;
}
.localisation-list__stores--store .store-adresse {
  margin-bottom: 1.2em;
}
.localisation-list__stores--store .store-phone,
.localisation-list__stores--store .store-mail {
  display: flex;
  margin-bottom: 0.7em;
}
.localisation-list__stores--store .store-phone img,
.localisation-list__stores--store .store-mail img {
  height: 20px;
  width: 20px;
  margin-right: 1em;
}
.localisation-list__stores--store:hover {
  background-color: #4f897d;
}

.filter-white {
  filter: invert(100%) sepia(4%) saturate(5%) hue-rotate(248deg) brightness(104%) contrast(100%);
}

.actualities-vertical-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 4em;
  width: 80%;
}
.actualities-vertical-container img {
  width: 100%;
  object-fit: cover;
  margin: 0 auto 1em;
}
.actualities-horizontal-container {
  display: flex;
  margin: 0 auto 4em;
  width: 70%;
}
.actualities-horizontal-container img {
  width: 50%;
  object-fit: cover;
}
.actualities-horizontal-container__article--right {
  width: 50%;
  padding-left: 1em;
}
.actualities-horizontal-container__article--left {
  width: 50%;
  padding-right: 1em;
}
.services-container {
  padding: 1.5em;
  margin-bottom: 1.5em;
}
.services-container h3 {
  position: relative;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
}
.services-container p {
  margin-bottom: 2em;
}

.services-h3-ico {
  position: absolute;
  height: 28px;
  margin-left: 0.5em;
  top: -0.15em;
}

@media (max-width: 1250px) {
  .service-p-cropped {
    display: none;
  }
}

.human-resources-horizontal-container {
  display: flex;
  height: 350px;
  margin-bottom: 1em;
}
.human-resources-horizontal-container h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5em;
}
.human-resources-horizontal-container__article--left {
  width: 30%;
  padding: 2em;
  margin-right: 1em;
}
@media (max-width: 1250px) {
  .human-resources-horizontal-container__article--left {
    width: 45%;
  }
}
.human-resources-horizontal-container__article--left-separator {
  width: 100%;
  height: 1px;
  background-color: #214b41;
  margin: 0.8em 0;
  opacity: 0.5;
}
.human-resources-horizontal-container__article--right {
  width: 30%;
  padding: 2em;
  margin-left: 1em;
  background-color: #214b41;
  color: #ffffff;
}
@media (max-width: 1250px) {
  .human-resources-horizontal-container__article--right {
    width: 45%;
  }
}
.human-resources-horizontal-container__article--right-separator {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  margin: 0.8em 0;
  opacity: 0.5;
}
.human-resources-horizontal-container p {
  text-align: justify;
}
.human-resources-horizontal-container img {
  width: 70%;
  object-fit: cover;
}
@media (max-width: 1250px) {
  .human-resources-horizontal-container img {
    width: 55%;
    min-width: 400px;
  }
}

.human-resources-offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.human-resources-offers h2 {
  text-transform: uppercase;
  margin-top: 1em;
}
.human-resources-offers__h2-separator {
  opacity: 0.7;
  margin-bottom: 2em;
}

/*# sourceMappingURL=main.css.map */
