@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  scroll-behavior: smooth;
  appearance: auto;
}

html,
body {
  height: 100%;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

main {
  max-width: 1200px;
}

#mainPages {
  margin: 0 auto;
  padding: 0 1em;
}

span {
  font-weight: 1000;
}

.flex-center, .header-color-primary, .header-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-square-medium, .human-ressources-offers__links-mail-to, .button__square--green, .button__square--transparent {
  padding: 1em 2.5em;
  border: none;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: 200ms;
}
.button-square-medium:hover, .human-ressources-offers__links-mail-to:hover, .button__square--green:hover, .button__square--transparent:hover {
  transform: scale(1.02);
}

.button-active:active, .human-ressources-offers__links-mail-to:active, .small-button__square--green:active, .button__square--green:active, .button__square--transparent:active, #headerHamburger:active {
  transform: scale(0.98);
}

.header-links-display, #responsiveHeaderDom .responsive-header-transparent a, #responsiveHeaderDom .responsive-header-primary a, .header-color-primary .header-nav__container--link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 200ms;
}

.header-links-after-display, #responsiveHeaderDom .responsive-header-transparent a::after, #responsiveHeaderDom .responsive-header-primary a::after, .header-color-primary .header-nav__container--link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -0.3em;
  left: 0;
  opacity: 0;
  transform: translateX(-20px);
  transition: 200ms;
}

.actualitiesh2, .actualities-horizontal-container h2, .actualities-vertical-container__article h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 0.2em;
}

.actualitiesh3 {
  font-size: 1em;
  text-transform: uppercase;
  opacity: 0.8;
}

.actualities-separator, .human-resources-offers__h2-separator, .actualities-horizontal-container__article--separator, .actualities-vertical-container__article--separator {
  background-color: #214b41;
  width: 100%;
  height: 1px;
  margin: 0.5em 0;
}

.actualities-p, .actualities-horizontal-container p, .actualities-vertical-container__article p {
  text-align: justify;
  font-size: 16px;
  line-height: 1.3em;
}
@media (max-width: 850px) {
  .actualities-p, .actualities-horizontal-container p, .actualities-vertical-container__article p {
    margin-bottom: 1em;
  }
}

.light-primary-background {
  background-color: #f0f9f7;
  color: #1ba39e;
  flex-direction: column;
}

.services-partner-display, .partners-container__secondary, .partners-container__principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

#localisationContainer {
  display: flex;
  width: 100%;
  margin-bottom: 18vh;
}
@media (max-width: 850px) {
  #localisationContainer {
    flex-direction: column-reverse;
  }
}
#localisationContainer .localisation-list {
  width: 35%;
  min-width: 375px;
  height: 600px;
  background-color: #214b41;
  padding: 2em;
  z-index: 1;
  -webkit-box-shadow: 20px 0px 19px -5px rgba(0, 0, 0, 0.27);
  box-shadow: 20px 0px 19px -5px rgba(0, 0, 0, 0.27);
}
@media (max-width: 1250px) {
  #localisationContainer .localisation-list {
    padding: 2em 1em;
  }
}
@media (max-width: 850px) {
  #localisationContainer .localisation-list {
    width: 100%;
    min-width: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
#localisationContainer .localisation-list__search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  width: 100%;
  max-width: 400px;
}
#localisationContainer .localisation-list__search input {
  width: 87%;
  border: none;
  background-color: #dfdfdf;
  padding: 0.4em 0 0.4em 0.4em;
}
#localisationContainer .localisation-list__stores {
  color: #ffffff;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}
#localisationContainer .localisation-list__stores a {
  color: #ffffff;
  text-decoration: none;
}
#localisationContainer .localisation-list__stores a:hover {
  text-decoration: underline;
}
#localisationContainer .localisation-map {
  width: 65%;
  height: 600px;
  background-color: #f0f9f7;
}
@media (max-width: 850px) {
  #localisationContainer .localisation-map {
    width: 100%;
    margin-bottom: 1em;
    height: 390px;
  }
}

.localisation-list__stores--store {
  border-top: 1px;
  border-style: dotted none none;
  padding-top: 1em;
  padding: 1.5em 1.5em 1.5em 0.5em;
  transition: 200ms;
  cursor: pointer;
}
.localisation-list__stores--store h6 {
  font-size: 1em;
  margin-bottom: 1em;
}
.localisation-list__stores--store .store-adresse {
  margin-bottom: 1.2em;
}
.localisation-list__stores--store .store-phone,
.localisation-list__stores--store .store-mail {
  display: flex;
  margin-bottom: 0.7em;
}
.localisation-list__stores--store .store-phone img,
.localisation-list__stores--store .store-mail img {
  height: 20px;
  width: 20px;
  margin-right: 1em;
}
.localisation-list__stores--store:hover {
  background-color: #4f897d;
}

.filter-white {
  filter: invert(100%) sepia(4%) saturate(5%) hue-rotate(248deg) brightness(104%) contrast(100%);
}

.actualities-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
}
@media (max-width: 850px) {
  .actualities-block {
    flex-direction: column;
    margin-bottom: inherit;
  }
}
.actualities-block .date {
  color: grey;
  font-style: italic;
}

.actualities-vertical-container {
  width: 48%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 850px) {
  .actualities-vertical-container {
    width: 100%;
    margin-bottom: 2em;
  }
}
.actualities-vertical-container img {
  width: 100%;
  object-fit: cover;
  margin: 0 auto 1em;
}
.actualities-vertical-container .little-shadow {
  -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.14);
}
.actualities-vertical-container__article h2 {
  text-align: center;
  margin-bottom: 0.5em;
}
.actualities-horizontal-container {
  display: flex;
  margin: 0 auto 4em;
  max-height: 350px;
}
@media (max-width: 850px) {
  .actualities-horizontal-container {
    flex-direction: column;
    height: 100%;
    max-height: inherit;
  }
}
.actualities-horizontal-container img {
  width: 50%;
  object-fit: cover;
}
@media (max-width: 850px) {
  .actualities-horizontal-container img {
    width: 100%;
    object-fit: cover;
    max-height: 350px;
    margin-bottom: 1em;
  }
}
.actualities-horizontal-container__article--right {
  width: 50%;
  padding-left: 1em;
}
@media (max-width: 850px) {
  .actualities-horizontal-container__article--right {
    width: 100%;
    padding: inherit;
  }
}
.actualities-horizontal-container__article--left {
  width: 50%;
  padding-right: 1em;
}
@media (max-width: 850px) {
  .actualities-horizontal-container__article--left {
    width: 100%;
    padding: inherit;
  }
}
.actualities-horizontal-container .scrollable-content {
  max-height: 250px;
  overflow-y: scroll;
  padding: 7px;
  margin-bottom: 1em;
}
.actualities-horizontal-container .scrollable-content span {
  font-weight: 1000;
  text-decoration: underline;
}
@media (max-width: 850px) {
  .actualities-horizontal-container h2 {
    text-align: center;
  }
}
.actualities-horizontal-container p span {
  font-weight: 1000;
}
.actualities-horizontal-container a {
  width: 50%;
}
@media (max-width: 850px) {
  .actualities-horizontal-container a {
    width: 100%;
  }
}
.actualities-horizontal-container a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.actualities-horizontal-container .social-network-ico {
  display: flex;
  justify-content: space-around;
  margin: 1.5em auto;
  width: 230px;
}
.actualities-horizontal-container .social-network-ico a {
  display: flex;
  width: 32px;
  height: 32px;
  text-decoration: none;
  align-items: center;
  color: black;
  margin: 0.5em 0;
}
.actualities-horizontal-container .social-network-ico a p {
  margin-left: 0.5em;
}
.actualities-horizontal-container .social-network-ico img {
  width: 32px;
  height: 32px;
}
.actualities-horizontal-container .sn-link {
  text-align: center;
  margin-bottom: 10%;
}
.actualities-horizontal-container .text-center {
  text-align: center;
}

.degustation-container {
  margin-bottom: 7em;
}
@media (max-width: 850px) {
  .degustation-container {
    flex-direction: column-reverse;
    margin-bottom: 4em;
  }
}
.degustation-container img {
  object-fit: cover;
}
.degustation-container .italic {
  font-style: italic;
}

.subtil {
  text-align: center;
  margin-bottom: 0.5em;
  color: grey;
  font-style: italic;
}

.services-container {
  width: 100%;
  padding: 1.5em;
  margin-bottom: 1.5em;
}
.services-container h3 {
  position: relative;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
}
@media (max-width: 850px) {
  .services-container h3 {
    font-size: 1.3em;
  }
}
.services-container .cama-green {
  color: #1bbc9b;
}
.services-container .cama-blue {
  color: #1ba39b;
}
.services-container p {
  margin-bottom: 2em;
}

.events-container {
  display: flex;
  width: 100%;
}
@media (max-width: 850px) {
  .events-container {
    flex-direction: column;
    padding: 0;
  }
}
.events-container .illustration {
  width: 45%;
}
@media (max-width: 850px) {
  .events-container .illustration {
    width: 100%;
    margin-bottom: 2em;
  }
}
.events-container .illustration img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.events-container article {
  padding-left: 1.5em;
  width: 55%;
}
@media (max-width: 850px) {
  .events-container article {
    width: 100%;
    padding-left: 0;
    margin-bottom: 1.5em;
  }
}
.events-container article h3 {
  color: #1bbc9b;
}
.events-container article p {
  margin-bottom: 1em;
}
@media (max-width: 850px) {
  .events-container article p {
    padding: 0 10px;
  }
}
.events-container article span {
  font-weight: 1000;
}
.events-container article .underline {
  text-decoration: underline;
}
.events-container article a {
  color: black;
}

.services-h3-ico {
  position: absolute;
  height: 28px;
  top: -0.15em;
  margin-left: 0.5em;
}
@media (max-width: 850px) {
  .services-h3-ico {
    margin-left: 0.5em;
    top: -0.3em;
  }
}

.human-resources-horizontal-container {
  display: flex;
  height: 100%;
  margin-bottom: 1em;
}
.human-resources-horizontal-container video {
  width: 50%;
  object-fit: cover;
}
@media (max-width: 1250px) {
  .human-resources-horizontal-container video {
    width: 55%;
    min-width: 530px;
  }
}
@media (max-width: 850px) {
  .human-resources-horizontal-container video {
    width: 100%;
    min-width: inherit;
    height: 100%;
  }
}
@media (max-width: 850px) {
  .human-resources-horizontal-container {
    flex-direction: column;
    max-height: inherit;
    margin-bottom: 2em;
  }
}
.human-resources-horizontal-container h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5em;
}
.human-resources-horizontal-container__article--left {
  width: 30%;
  padding: 0 2em 2em;
  margin-right: 1em;
}
@media (max-width: 1250px) {
  .human-resources-horizontal-container__article--left {
    width: 45%;
  }
}
@media (max-width: 850px) {
  .human-resources-horizontal-container__article--left {
    width: 100%;
    margin-left: inherit;
    margin-bottom: 1em;
  }
}
.human-resources-horizontal-container__article--left-separator {
  width: 100%;
  height: 1px;
  background-color: #214b41;
  margin: 0.8em 0;
  opacity: 0.5;
}
.human-resources-horizontal-container__article--right {
  padding: 2em;
  margin-left: 1em;
  background-color: #214b41;
  color: #ffffff;
}
@media (max-width: 1250px) {
  .human-resources-horizontal-container__article--right {
    width: 45%;
  }
}
@media (max-width: 850px) {
  .human-resources-horizontal-container__article--right {
    width: 100%;
    margin-left: inherit;
    margin-bottom: 1em;
  }
}
.human-resources-horizontal-container__article--right-separator {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  margin: 0.8em 0;
  opacity: 0.5;
}
.human-resources-horizontal-container p {
  text-align: justify;
}
.human-resources-horizontal-container img {
  width: 70%;
  max-height: 350px;
  object-fit: cover;
}
@media (max-width: 1250px) {
  .human-resources-horizontal-container img {
    width: 55%;
    min-width: 400px;
  }
}
@media (max-width: 850px) {
  .human-resources-horizontal-container img {
    width: 100%;
    min-width: inherit;
  }
}
@media (max-width: 850px) {
  .human-resources-horizontal-container + .column-reverse {
    flex-direction: column-reverse;
  }
}

.human-resources-offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.human-resources-offers h2 {
  text-transform: uppercase;
  margin-top: 1em;
}
.human-resources-offers__h2-separator {
  opacity: 0.7;
  margin-bottom: 2em;
}

#cguPrimaryTitle {
  padding-top: 4em;
}

.cgu-main {
  max-width: 1000px;
  text-align: justify;
}
.cgu-main h4 {
  text-decoration: underline;
}

.legal-disclaimer {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}
.legal-disclaimer__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.legal-disclaimer__container img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 2em;
}
.legal-disclaimer__container select {
  font-family: "gotham-black", sans-serif;
  background-color: #ffffff;
  color: #214b41;
  border: none;
  padding: 0.2em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.legal-disclaimer__container #flag {
  width: 40px;
  height: 30px;
  margin-bottom: 1em;
}
.legal-disclaimer__container--choices {
  margin-top: 1em;
}
.legal-disclaimer__container--choices button {
  text-transform: uppercase;
  margin: 1em;
}

.header-transparent {
  width: 100%;
  position: fixed;
  transition: 500ms;
  z-index: 9;
}
.header-transparent #logoHeaderNav {
  display: none;
}
.header-transparent .header-nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1220px;
  padding: 1.6em 0;
  transition: 500ms;
}
.header-transparent .header-nav__container--link {
  position: relative;
  color: #214b41;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: 200ms;
  letter-spacing: 1px;
}
.header-transparent .header-nav__container--link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -0.3em;
  left: 0;
  background-color: #214b41;
  opacity: 0;
  transform: translateY(7px);
  transition: 200ms;
}
.header-transparent .header-nav__container--link:hover::after {
  opacity: 1;
  transform: translateY(0px);
}
@media (max-width: 1250px) {
  .header-transparent .header-nav__container {
    display: none;
  }
}

.header-color-primary {
  width: 100%;
  position: fixed;
  transition: 500ms;
  background-color: #214b41;
  z-index: 9;
  min-height: 70px;
  -webkit-box-shadow: 1px 3px 10px 3px rgba(0, 0, 0, 0.59);
  box-shadow: 1px 3px 10px 3px rgba(0, 0, 0, 0.59);
}
.header-color-primary #logoHeaderNav {
  position: absolute;
  left: 2em;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  object-fit: cover;
  transition: 500ms;
}
.header-color-primary .header-nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1220px;
  width: 80%;
  padding: 1.6em 0;
  transform: translateX(110px);
  transition: 500ms;
}
.header-color-primary .header-nav__container--link {
  color: #ffffff;
}
.header-color-primary .header-nav__container--link::after {
  background-color: #ffffff;
  transform: translateY(7px);
}
.header-color-primary .header-nav__container--link:hover::after {
  opacity: 1;
  transform: translateY(0px);
}
.header-color-primary .header-nav__container--link--actif {
  font-weight: 600;
}
.header-color-primary .header-nav__container--link--actif::after {
  opacity: 1;
  transform: translateY(0px);
}
@media (max-width: 1250px) {
  .header-color-primary .header-nav__container {
    display: none;
  }
}

#headerHamburger {
  position: absolute;
  display: none;
  right: 1em;
  top: 1.5em;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 9;
}
@media (max-width: 1250px) {
  #headerHamburger {
    display: flex;
  }
}

#responsiveHeaderDom {
  display: none;
  z-index: 8;
}
#responsiveHeaderDom .responsive-header-primary {
  position: fixed;
  display: flex;
  z-index: 2;
  flex-direction: column;
  top: 0;
  padding-top: 80px;
  width: 100%;
  text-align: center;
  background-color: #214b41;
}
#responsiveHeaderDom .responsive-header-primary a {
  color: #ffffff;
  margin: 1em 0;
}
#responsiveHeaderDom .responsive-header-primary a::after {
  background-color: #ffffff;
  width: 20%;
  left: 50%;
  transform: translateX(-50%);
}
#responsiveHeaderDom .responsive-header-primary a:hover::after {
  opacity: 1;
  transform: translateX(-50%);
}
#responsiveHeaderDom .responsive-header-primary a--actif {
  font-weight: 600;
}
#responsiveHeaderDom .responsive-header-primary a--actif::after {
  opacity: 1;
  transform: translateX(0px);
}
@media (min-width: 1250px) {
  #responsiveHeaderDom .responsive-header-primary {
    display: none;
  }
}
#responsiveHeaderDom .responsive-header-transparent {
  position: fixed;
  display: flex;
  z-index: 2;
  flex-direction: column;
  top: 0;
  padding-top: 60px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
}
#responsiveHeaderDom .responsive-header-transparent a {
  color: #214b41;
  margin: 1em 0;
}
#responsiveHeaderDom .responsive-header-transparent a::after {
  background-color: #214b41;
  width: 20%;
  left: 50%;
  transform: translateX(-50%);
}
#responsiveHeaderDom .responsive-header-transparent a:hover::after {
  opacity: 1;
  transform: translateX(-50%);
}
#responsiveHeaderDom .responsive-header-transparent a--actif {
  font-weight: 600;
}
#responsiveHeaderDom .responsive-header-transparent a--actif::after {
  opacity: 1;
  transform: translateX(0px);
}
@media (min-width: 1250px) {
  #responsiveHeaderDom .responsive-header-transparent {
    display: none;
  }
}

#footer {
  width: 100%;
  padding: 1.5em;
  background-color: #ffffff;
  border-top: solid 1px black;
}
@media (max-width: 850px) {
  #footer {
    padding: 1.5em 1.5em 0.5em;
  }
}
#footer .footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}
#footer .footer-links__social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 850px) {
  #footer .footer-links__social {
    margin-bottom: 10px;
  }
}
#footer .footer-links__social p {
  opacity: 0.8;
}
#footer .footer-links__social input {
  border: none;
  background-color: #dfdfdf;
  padding: 0.3em 0.5em 0.3em 0.3em;
}
#footer .footer-links__social--network-icons {
  display: flex;
}
#footer .footer-links__social--network-icons img {
  width: 22px;
  height: 22px;
  margin: 0.2em 0.5em 0 0;
}
#footer .footer-links p span {
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
}
@media (max-width: 850px) {
  #footer .footer-links p span {
    margin-bottom: 10px;
  }
}
#footer .footer-links .disclaimer {
  text-transform: uppercase;
  color: #525252;
}
#footer .footer-links__legal-press {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200px;
}
@media (max-width: 850px) {
  #footer .footer-links__legal-press {
    margin-bottom: 10px;
  }
}
#footer .footer-links__legal-press a {
  text-decoration: none;
  color: #525252;
}
#footer .footer-links__legal-press a:hover {
  text-decoration: underline grey;
}
#footer .footer-links__legal-press .press {
  position: relative;
  color: #525252;
  cursor: pointer;
}
#footer .footer-links__legal-press .press::before {
  position: absolute;
  content: "CATHERINE SICK COMMUNICATION tel:01.84.20.20.74 mail:contact@sick-rp.com 176, avenue Charles de Gaulle | 92200 Neuilly";
  top: -120px;
  width: 200px;
  padding: 7px;
  background-color: white;
  border: 1px solid black;
  opacity: 0;
  transform: translateY(10px);
  transition: 300ms;
  z-index: -1;
  pointer-events: none;
  line-height: 1.2em;
}
#footer .footer-links__legal-press .press:hover {
  text-decoration: underline grey;
}
#footer .footer-links__legal-press .press:hover::before {
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}

#homeCarouselFullPage {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}
#homeCarouselFullPage .home-carousel__images-full {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  animation: fading 5000ms infinite;
}
#homeCarouselFullPage .home-carousel__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  left: 50%;
  width: 100%;
  height: 100%;
  bottom: 0;
  transform: translateX(-50%);
}
#homeCarouselFullPage .home-carousel__container--logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-height: 50%;
  object-fit: contain;
}
#homeCarouselFullPage .home-carousel__container button {
  margin-top: 3em;
}
#homeCarouselFullPage .home-carousel__container--arrow {
  margin: 2vh 0;
  width: 60px;
  animation: arrow-up-and-down infinite 7s;
  cursor: pointer;
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes arrow-up-and-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
#homeAboutUs {
  width: 100vw;
}
#homeAboutUs .home-about-us__article-container {
  display: flex;
}
@media (max-width: 850px) {
  #homeAboutUs .home-about-us__article-container {
    flex-direction: column-reverse;
  }
}
#homeAboutUs .home-about-us__article-container--img-xl {
  width: 58%;
  object-fit: cover;
}
@media (max-width: 850px) {
  #homeAboutUs .home-about-us__article-container--img-xl {
    width: 100%;
    height: 30vh;
  }
}
#homeAboutUs .home-about-us__article-container--article {
  width: 42%;
  padding: 5em 4em 0;
}
@media (max-width: 850px) {
  #homeAboutUs .home-about-us__article-container--article {
    padding: 5em 2em 0;
    width: 100%;
  }
}
#homeAboutUs .home-about-us__article-container--article h1 {
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#homeAboutUs .home-about-us__article-container--article h3 {
  font-weight: 500;
  text-transform: uppercase;
}
#homeAboutUs .home-about-us__article-container--article--paragraph {
  text-align: justify;
  line-height: 1.3em;
  margin: 2em 0;
}
#homeAboutUs .home-about-us__article-container--article .pictos-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 2em 0 2em;
}
#homeAboutUs .home-about-us__article-container--article .pictos-container .three {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#homeAboutUs .home-about-us__article-container--article .pictos-container__element {
  width: 16%;
  min-width: 110px;
  text-align: center;
  justify-content: center;
  margin: 0 0.1em;
}
#homeAboutUs .home-about-us__article-container--article .pictos-container__element img {
  object-fit: cover;
  margin: 1em 0;
  border-radius: 50%;
  -webkit-box-shadow: 1px 8px 12px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 1px 8px 12px 0px rgba(0, 0, 0, 0.31);
}
#homeAboutUs .home-about-us__article-container--article .pictos-container__element p {
  width: 100%;
}
#homeAboutUs .home-about-us__images-container {
  display: flex;
  max-height: 300px;
  min-height: 200px;
}
@media (max-width: 850px) {
  #homeAboutUs .home-about-us__images-container {
    display: none;
  }
}
#homeAboutUs .home-about-us__images-container img {
  width: 20%;
  object-fit: cover;
}

#map {
  height: 100%;
  min-height: 600px;
  width: 100%;
}
@media (max-width: 850px) {
  #map {
    min-height: inherit;
    height: 390px;
  }
}

.maps-store-preview {
  padding-right: 1.5em;
}
.maps-store-preview__name {
  color: #214b41;
}
.maps-store-preview__address {
  margin-bottom: 1em;
}
.maps-store-preview__contact {
  margin-bottom: 1em;
}
.maps-store-preview__contact a {
  color: #214b41;
  text-decoration: none;
}
.maps-store-preview__hours {
  margin-bottom: 1em;
}
.maps-store-preview__itinerary {
  color: #214b41;
  text-decoration: none;
}

.button__square--transparent {
  background-color: rgba(255, 255, 255, 0.7);
  color: #214b41;
  border: solid 1px #214b41;
  cursor: pointer;
}

.button__square--green {
  background-color: #214b41;
  color: #ffffff;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.41);
}
.button__square--green a {
  color: #ffffff;
  text-decoration: none;
}

.small-button__square--green {
  border: none;
  padding: 0.3em 0.4em 0.3em 0.5em;
  background-color: #214b41;
  color: #ffffff;
  font-weight: 500;
  margin: 0 1.2em 0 -3px;
  height: 22px !important;
  cursor: pointer;
}

.human-ressources-offers__links-mail-to {
  display: block;
  padding: 0.7em 3.5em;
  background-color: #f0f9f7;
  color: #000000;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.41);
}

.pepi-btn {
  width: 190px;
  margin: 2em auto 0;
}

#pagesH1 {
  position: relative;
  padding: 3em 0 1em;
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-weight: 100;
}
#pagesH1::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 35%;
  background-color: black;
  top: 68.5%;
  right: 0;
}
@media (max-width: 950px) {
  #pagesH1::after {
    width: 30%;
  }
}
@media (max-width: 720px) {
  #pagesH1::after {
    width: 25%;
  }
}
@media (max-width: 570px) {
  #pagesH1::after {
    width: 20%;
  }
}
@media (max-width: 470px) {
  #pagesH1::after {
    width: 11%;
  }
}
#pagesH1::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 35%;
  background-color: black;
  top: 68.5%;
  left: 0;
}
@media (max-width: 950px) {
  #pagesH1::before {
    width: 30%;
  }
}
@media (max-width: 720px) {
  #pagesH1::before {
    width: 25%;
  }
}
@media (max-width: 570px) {
  #pagesH1::before {
    width: 20%;
  }
}
@media (max-width: 470px) {
  #pagesH1::before {
    width: 11%;
  }
}

.separator-black {
  width: 100%;
  height: 1px;
  background-color: #214b41;
  margin: 1.2em 0 1.5em;
}

.separator-white {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  margin: 1.2em 0 1.5em;
}

.separator-cama-blue {
  width: 100%;
  height: 1px;
  background-color: #1ba39b;
  margin: 1.2em 0 1.5em;
}

.separator-cama-green {
  width: 100%;
  height: 1px;
  background-color: #1ba39b;
  margin: 1.2em 0 1.5em;
}

.separator-primary-medium {
  width: 100%;
  height: 1px;
  background-color: #4f897d;
  margin: 1.2em 0 1.5em;
}

.legal-disclaimer__container--separator {
  height: 1px;
  background-color: #214b41;
  width: 60%;
  margin: 2em 0;
}

#_form_2_ {
  position: relative;
  font-size: 16px;
  line-height: 1.6;
  font-family: arial, helvetica, sans-serif;
  margin: 0;
}

#_form_2_ * {
  outline: 0;
}

._form_hide {
  display: none;
  visibility: hidden;
}

._form_show {
  display: block;
  visibility: visible;
}

#_form_2_._form-top {
  top: 0;
}

#_form_2_._form-bottom {
  bottom: 0;
}

#_form_2_._form-left {
  left: 0;
}

#_form_2_._form-right {
  right: 0;
}

#_form_2_ input[type=text],
#_form_2_ input[type=date],
#_form_2_ textarea {
  height: 22px !important;
  color: #000 !important;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#_form_2_ textarea {
  resize: none;
}

#_form_2_ ._submit {
  -webkit-appearance: none;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 14px;
  text-align: center;
  background: #333 !important;
  border: 0 !important;
  -moz-border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  border-radius: 4px !important;
  color: #fff !important;
}

#_form_2_ ._close-icon {
  cursor: pointer;
  background-image: url("https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png");
  background-repeat: no-repeat;
  background-size: 14.2px 14.2px;
  position: absolute;
  display: block;
  top: 11px;
  right: 9px;
  overflow: hidden;
  width: 16.2px;
  height: 16.2px;
}

#_form_2_ ._close-icon:before {
  position: relative;
}

#_form_2_ ._form-image-left {
  width: 150px;
  float: left;
}

#_form_2_ ._form-branding {
  color: #fff;
  font-size: 10px;
  clear: both;
  text-align: left;
  font-weight: 100;
}

#_form_2_ ._form-branding ._logo {
  display: block;
  width: 130px;
  height: 14px;
  background-image: url("https://d226aj4ao1t61q.cloudfront.net/hh9ujqgv5_aclogo_li.png");
  background-size: 130px auto;
  background-repeat: no-repeat;
}

#_form_2_ .form-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#_form_2_ ._form-label,
#_form_2_ ._form_element ._form-label {
  font-weight: bold;
  display: block;
}

#_form_2_._dark ._form-branding {
  color: #333;
}

#_form_2_._dark ._form-branding ._logo {
  background-image: url("https://d226aj4ao1t61q.cloudfront.net/jftq2c8s_aclogo_dk.png");
}

#_form_2_ ._form_element {
  position: relative;
  font-size: 0;
  max-width: 100%;
}

#_form_2_ ._form_element * {
  font-size: 14px;
}

#_form_2_ ._form_element._clear {
  clear: both;
  width: 100%;
  float: none;
}

#_form_2_ ._form_element._clear:after {
  clear: left;
}

#_form_2_ ._form_element input[type=text],
#_form_2_ ._form_element input[type=date],
#_form_2_ ._form_element select,
#_form_2_ ._form_element textarea:not(.g-recaptcha-response) {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
}

#_form_2_ ._field-wrapper {
  margin-top: 2px;
  position: relative;
}

#_form_2_ ._inline-style {
  float: left;
}

#_form_2_ ._inline-style input[type=text] {
  width: 150px;
}

#_form_2_ ._form_element img._form-image {
  max-width: 100%;
}

#_form_2_ ._form_element ._form-fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  min-width: 0;
}

#_form_2_ ._clear-element {
  clear: left;
}

#_form_2_ ._full_width {
  width: 100%;
}

#_form_2_ ._form_full_field {
  display: block;
  width: 100%;
}

#_form_2_ input[type=text]._has_error,
#_form_2_ textarea._has_error {
  outline: #f37c7b 1px solid;
}

#_form_2_ input[type=checkbox]._has_error {
  outline: #f37c7b 1px solid;
}

#_form_2_ ._error {
  display: block;
  position: absolute;
  font-size: 14px;
  z-index: 10000001;
}

#_form_2_ ._error._above {
  bottom: 39px;
  right: 0;
}

#_form_2_ ._error._below {
  top: 100%;
  right: 0;
}

#_form_2_ ._error._above ._error-arrow {
  bottom: 0;
  right: 15px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #f37c7b;
}

#_form_2_ ._error._below ._error-arrow {
  top: 0;
  right: 15px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f37c7b;
}

#_form_2_ ._error-inner {
  background-color: #f37c7b;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#_form_2_ ._error-inner._form_error {
  text-align: left;
}

#_form_2_ ._error-arrow {
  position: absolute;
  width: 0;
  height: 0;
}

.pika-single {
  z-index: 10000001 !important;
}

#_form_2_ input[type=text].datetime_date {
  width: 69%;
  display: inline;
}

#_form_2_ select.datetime_time {
  width: 29%;
  display: inline;
  height: 32px;
}

#_form_2_ {
  position: relative;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  background: #fff !important;
  border: 0px solid #b0b0b0 !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
  color: #000 !important;
}

#_form_2_ ._form-title {
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
}

#_form_2_:before,
#_form_2_:after {
  content: " ";
  display: table;
}

#_form_2_:after {
  clear: both;
}

#_form_2_._inline-style {
  width: auto;
  display: inline-block;
}

#_form_2_._inline-style button._inline-style {
  position: relative;
  top: 27px;
}

#_form_2_ ._form-thank-you {
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
}

._form-content {
  height: 22px;
  display: flex;
  align-items: center;
}

._button-wrapper {
  padding-top: 1.5px;
}

.partner-container {
  height: 350px;
  margin-bottom: 1.5em;
}
@media (max-width: 1250px) {
  .partner-container {
    margin-bottom: 0em;
  }
}
@media (max-width: 850px) {
  .partner-container {
    height: 100%;
    margin-bottom: 2em;
  }
}
.partner-container .date {
  color: grey;
  font-style: italic;
}

#actualitiesPartnerSlider {
  width: 570px;
  height: 350px;
  position: relative;
  overflow-x: hidden;
}
@media (max-width: 850px) {
  #actualitiesPartnerSlider {
    margin: 0 auto;
  }
}
@media (max-width: 620px) {
  #actualitiesPartnerSlider {
    width: 350px;
    max-width: 95%;
    height: 220px;
  }
}
#actualitiesPartnerSlider .translateX-slider {
  position: absolute;
  display: flex;
  width: 300%;
  animation: fade 14000ms infinite;
}
#actualitiesPartnerSlider .translateX-slider .partner-slider-img {
  transition: 1000ms;
}
#actualitiesPartnerSlider .translateX-slider .partner-slider-img img {
  width: 100%;
  object-fit: cover;
  -webkit-box-shadow: 0px 7px 5px -4px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 7px 5px -4px rgba(0, 0, 0, 0.6);
}

@keyframes fade {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-33.33%);
  }
  60% {
    transform: translateX(-33.33%);
  }
  75% {
    transform: translateX(-66.66%);
  }
  90% {
    transform: translateX(-66.66%);
  }
  100% {
    transform: translateX(-66.66%);
  }
}
.services-container__delivery {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 380px;
  padding: 1.5em 0;
}
@media (max-width: 1250px) {
  .services-container__delivery {
    margin-bottom: 4em;
  }
}
@media (max-width: 850px) {
  .services-container__delivery {
    flex-direction: column;
    margin-bottom: 1em;
  }
}
.services-container__delivery .video-part {
  width: 46%;
}
@media (max-width: 850px) {
  .services-container__delivery .video-part {
    width: 100%;
    height: 350px;
    margin-bottom: 1.5em;
  }
}
@media (max-width: 580px) {
  .services-container__delivery .video-part {
    height: 260px;
  }
}
.services-container__delivery .video-part .video {
  height: 100%;
  width: 100%;
}
.services-container__delivery .article-part {
  width: 52%;
}
@media (max-width: 850px) {
  .services-container__delivery .article-part {
    width: 100%;
    min-height: 270px;
  }
}
.services-container__delivery .article-part h3 {
  color: #1ba39b;
}
.services-container__delivery .article-part article {
  display: flex;
  height: 70%;
}
@media (max-width: 580px) {
  .services-container__delivery .article-part article {
    flex-direction: column;
  }
}
.services-container__delivery .article-part article .delivery-p {
  position: relative;
  margin-top: 10px;
}
.services-container__delivery .article-part article .delivery-p p {
  padding: 0 15px;
  text-align: justify;
}
.services-container__delivery .article-part article .icons {
  position: absolute;
  top: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1250px) {
  .services-container__delivery .article-part article .icons {
    top: 190px;
  }
}
@media (max-width: 850px) {
  .services-container__delivery .article-part article .icons {
    top: 130px;
  }
}
@media (max-width: 580px) {
  .services-container__delivery .article-part article .icons {
    position: relative;
    top: 0;
  }
}
.services-container__delivery .article-part article .icons .delivery-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 49%;
}
.services-container__delivery .article-part article .icons .delivery-preview img {
  object-fit: cover;
  width: 52px;
  margin-bottom: 0.6em;
  border-radius: 50%;
  -webkit-box-shadow: 0 10px 19px -5px rgba(0, 0, 0, 0.27);
  box-shadow: 0 10px 19px -5px rgba(0, 0, 0, 0.27);
}
.services-container__delivery .article-part article .icons .delivery-preview p {
  text-align: center;
}
.services-container__delivery .article-part article .icons .delivery-preview p span {
  font-weight: 600;
  color: #1ba39b;
}
.services-container__delivery .article-part article .france-delivery {
  width: 45%;
}
@media (max-width: 580px) {
  .services-container__delivery .article-part article .france-delivery {
    width: 100%;
  }
}
.services-container__delivery .article-part article .paris-delivery {
  border-left: 1px solid #1ba39b;
  width: 55%;
}
@media (max-width: 580px) {
  .services-container__delivery .article-part article .paris-delivery {
    width: 100%;
    border: none;
    border-top: 1px solid #1ba39e;
    padding-top: 1.5em;
  }
}
.services-container__delivery .article-part article .paris-delivery .delivery-preview {
  width: 25%;
}

.services-container-little-more {
  display: flex;
  position: relative;
}
@media (max-width: 850px) {
  .services-container-little-more {
    flex-wrap: wrap;
  }
}
.services-container-little-more .desktop-border {
  border-right: 1px solid #1bbc9b;
}
@media (max-width: 850px) {
  .services-container-little-more .desktop-border {
    border: none;
  }
}
.services-container-little-more__advantages {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  text-align: center;
}
@media (max-width: 850px) {
  .services-container-little-more__advantages {
    width: 50%;
  }
}
.services-container-little-more__advantages h5 {
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 1em 0 1.5em;
  color: #1bbc9b;
}
.services-container-little-more__advantages .cama-blue {
  color: #1ba39b;
}
.services-container-little-more__advantages img {
  border-radius: 50%;
  -webkit-box-shadow: 0 10px 19px -5px rgba(0, 0, 0, 0.27);
  box-shadow: 0 10px 19px -5px rgba(0, 0, 0, 0.27);
}
@media (max-width: 850px) {
  .services-container-little-more__advantages img {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 850px) {
  .services-container-little-more::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 1px;
    height: 42%;
    background-color: #1bbc9b;
  }
}
.services-container-little-more__fidelity {
  height: 100%;
  width: 100%;
  padding: 1.5em;
  background-color: #1bbc9b;
  color: #ffffff;
  -webkit-box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.61);
  box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.61);
}
@media (max-width: 850px) {
  .services-container-little-more__fidelity {
    width: 100%;
  }
}
.services-container-little-more__fidelity h3 {
  color: white;
}
@media (max-width: 380px) {
  .services-container-little-more__fidelity .services-h3-ico {
    top: 15px;
  }
}
.services-container-little-more__fidelity p {
  min-height: 60px;
}
.services-container-little-more__fidelity #fidelityPiggies {
  width: 100%;
  object-fit: cover;
}

.card-container {
  display: flex;
  width: 50%;
  min-width: 496px;
}
@media (max-width: 850px) {
  .card-container {
    width: 100%;
  }
}
@media (max-width: 580px) {
  .card-container {
    min-width: inherit;
  }
}
.card-container .card-wrapper {
  position: relative;
  min-height: 350px;
  width: 100%;
  perspective: 2000px;
  perspective-origin: top;
}
.card-container .card-wrapper:hover .card {
  transform: rotateY(180deg);
}
.card-container .card-wrapper .card {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 800ms cubic-bezier(0.86, 0, 0.07, 1);
}
.card-container .card-wrapper .card ::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.card-container .card-wrapper .card ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.card-container .card-wrapper .card ::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.card-container .card-wrapper .card ::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.card-container .card-wrapper .card ::-webkit-scrollbar-thumb:active {
  background: #000000;
}
.card-container .card-wrapper .card ::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.card-container .card-wrapper .card ::-webkit-scrollbar-track:hover {
  background: #666666;
}
.card-container .card-wrapper .card ::-webkit-scrollbar-track:active {
  background: #333333;
}
.card-container .card-wrapper .card ::-webkit-scrollbar-corner {
  background: transparent;
}
.card-container .card-wrapper .card-front,
.card-container .card-wrapper .card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card-container .card-wrapper .card-back {
  position: relative;
  padding: 1em;
  transform: rotateY(180deg);
  color: white;
  background-color: #1bbc9b;
  -webkit-box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.61);
  box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.61);
}
@media (max-width: 580px) {
  .card-container .card-wrapper .card-back {
    padding: 7px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
.card-container .card-wrapper .card-back h4 {
  font-size: 1.3em;
  text-decoration: underline;
  margin-bottom: 0.5em;
}
@media (max-width: 580px) {
  .card-container .card-wrapper .card-back h4 {
    font-size: 1em;
  }
}
.card-container .card-wrapper .card-back p {
  text-align: justify;
  margin-bottom: 0.7em;
}
@media (max-width: 580px) {
  .card-container .card-wrapper .card-back p {
    font-size: 13px;
  }
}
.card-container .card-wrapper .card-back .table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 0.9fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  align-items: center;
  margin-bottom: 0.7em;
}
.card-container .card-wrapper .card-back .table div {
  border: 1px solid white;
  padding: 7px;
  height: 100%;
}
@media (max-width: 580px) {
  .card-container .card-wrapper .card-back .table div {
    padding: 2px;
    font-size: 0.7em;
  }
}
.card-container .card-wrapper .card-back .bg-white {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.938);
  color: #1bbc9b;
  font-weight: 800;
}
.card-container .card-wrapper .card-back .div1 {
  grid-area: 1/1/2/2;
}
.card-container .card-wrapper .card-back .div2 {
  grid-area: 1/2/2/3;
}
.card-container .card-wrapper .card-back .div3 {
  grid-area: 1/3/2/4;
}
.card-container .card-wrapper .card-back .div4 {
  grid-area: 1/4/2/5;
}
.card-container .card-wrapper .card-back .div5 {
  grid-area: 1/5/2/6;
}
.card-container .card-wrapper .card-back .div6 {
  grid-area: 1/6/2/7;
}
.card-container .card-wrapper .card-back .div7 {
  grid-area: 1/7/2/8;
}
.card-container .card-wrapper .card-back .div8 {
  grid-area: 2/1/3/2;
}
.card-container .card-wrapper .card-back .div9 {
  grid-area: 2/2/3/3;
}
.card-container .card-wrapper .card-back .div10 {
  grid-area: 2/3/3/4;
}
.card-container .card-wrapper .card-back .div11 {
  grid-area: 2/4/3/5;
}
.card-container .card-wrapper .card-back .div12 {
  grid-area: 2/5/3/6;
}
.card-container .card-wrapper .card-back .div13 {
  grid-area: 2/6/3/7;
}
.card-container .card-wrapper .card-back .div14 {
  grid-area: 2/7/3/8;
}
.card-container .card-wrapper .card-back .legal {
  position: absolute;
  font-size: 9px;
  width: 95%;
  bottom: 1px;
}
.card-container .card-wrapper .card-back .legal span {
  text-decoration: underline;
}

.partners-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding: 1em 0 1em;
  text-align: center;
  justify-content: center;
  min-height: 330px;
}
.partners-container h6 {
  text-transform: uppercase;
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 0.6em;
}
.partners-container__principal {
  position: relative;
  width: 40%;
}
@media (max-width: 1250px) {
  .partners-container__principal {
    width: 100%;
    height: 280px;
    margin-bottom: 2em;
  }
}
@media (max-width: 850px) {
  .partners-container__principal {
    margin-bottom: 3em;
  }
}
.partners-container__principal img {
  object-fit: cover;
  width: 60%;
  margin-bottom: 2em;
}
@media (max-width: 1250px) {
  .partners-container__principal img {
    width: 50%;
    max-width: 350px;
    min-width: 200px;
  }
}
.partners-container__principal button {
  position: absolute;
  bottom: 1em;
}
.partners-container__secondary {
  position: relative;
  width: 20%;
  min-width: 210px;
}
@media (max-width: 1250px) {
  .partners-container__secondary {
    width: 33%;
    height: 350px;
  }
}
@media (max-width: 850px) {
  .partners-container__secondary {
    width: 100%;
    height: 310px;
    margin-bottom: 2em;
  }
}
.partners-container__secondary img {
  position: absolute;
  object-fit: cover;
  width: 65%;
  max-width: 250px;
  top: -1em;
}
.partners-container__secondary #toGoodToGoImg {
  width: 50%;
  max-width: 150px;
  top: -2.5em;
}
.partners-container__secondary--informations {
  margin-top: 5em;
}
@media (max-width: 1250px) {
  .partners-container__secondary--informations {
    margin-top: 8em;
  }
}
@media (max-width: 850px) {
  .partners-container__secondary--informations {
    margin-top: 8em;
  }
}
.partners-container__secondary--background-primary {
  background-color: #f0f9f7;
  border-left: 1px solid #4f897d;
  border-right: 1px solid #4f897d;
}
.partners-container__secondary--background-primary img {
  position: absolute;
  object-fit: cover;
  width: 65%;
  top: 1em;
}
.partners-container__secondary button {
  position: absolute;
  bottom: 1em;
}
.partners-container .wine-and-co {
  background-color: #a91923;
}
.partners-container .tgtg {
  background-color: #79d0c6;
}
.partners-container .potager-city {
  background-color: #53b4e5;
}
.partners-container .air-campus {
  background-color: #f80b56;
}

.services-container__eco-responsability {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4em;
}
@media (max-width: 850px) {
  .services-container__eco-responsability {
    flex-direction: column;
  }
}
.services-container__eco-responsability h3 {
  position: relative;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
}
.services-container__eco-responsability p {
  margin-top: 2em;
}
@media (max-width: 1250px) {
  .services-container__eco-responsability p {
    margin-top: 1em;
  }
}
.services-container__eco-responsability .eco-responsability--img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.services-container__eco-responsability--article {
  width: 100%;
  position: relative;
}
.services-container__eco-responsability--article img {
  position: absolute;
  z-index: -1;
  height: 34px;
}
@media (max-width: 430px) {
  .services-container__eco-responsability--article img {
    right: 0;
  }
}
.services-container__eco-responsability--article-texte {
  padding: 1.5em;
}
.services-container__eco-responsability--article-texte span {
  font-weight: 1000;
  text-transform: uppercase;
}

.human-resources-offer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 23%;
  min-width: 330px;
  color: #ffffff;
  padding: 2em 1.5em;
  margin: 0 1em 2em;
  -webkit-box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.61);
  box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.61);
}
@media (max-width: 850px) {
  .human-resources-offer {
    width: 100%;
    max-width: 320px;
    min-width: inherit;
    margin: 0 0 2em;
  }
}
.human-resources-offer h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
}
.human-resources-offer img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 2em;
}
.human-resources-offer p {
  text-align: justify;
  height: 350px;
  overflow-y: scroll;
  border: 1px solid white;
  margin: 1.5em 0 5em;
  padding: 18px;
}
.human-resources-offer p span {
  text-decoration: underline;
}
.human-resources-offer a {
  position: absolute;
  bottom: 2em;
}
.human-resources-offer__junior {
  background-color: #1cb092;
}
.human-resources-offer__senior {
  background-color: #1ba39e;
}
.human-resources-offer__vacataire {
  background-color: #0c8389;
}
.human-resources-offer__spontanus {
  background-color: #5fb0a1;
}

/*# sourceMappingURL=main.css.map */
