@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/typographie";

@import "./components/buttons";
@import "./components/heart-anim";
@import "./components/step-card";
@import "./components/restaurant-prev";
@import "./components/dish-card";

@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/loader";

@import "./pages/home";
@import "./pages/menu";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 13px;
	height: 13px;
}
::-webkit-scrollbar-thumb {
	background: #9356dc;
	border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
	background: #bd9fe0;
}
::-webkit-scrollbar-track {
	background: #f0f0f0;
	border-radius: 0px;
	box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
