RewriteEngine On

	## http -> https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,NE,QSA]

# KILL THEM ETAGS
Header unset ETag
FileETag none

# protect the htaccess file
<files .htaccess>
order allow,deny
deny from all
</files>