@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.flex-center, .order-btn .button, .order-btn, #discover-section, .loader, header #button-to-home, header #localisation, header #logo, .dish-card__info--add-dish, .operating-steps .step-card__explanation, .operating-steps .step-card__number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-rendering, .dish-card, .restaurant-prev, .operating-steps a {
  text-decoration: none;
  color: black;
}

.h2-style, #restaurants-section h2, #functionning-section h2, #discover-section h2 {
  font-weight: 700;
}

.h4-style, .restaurant-prev__info h4 {
  font-weight: 800;
}

.box-shadow, .dish-card, .restaurant-prev, .operating-steps .step-card, .button {
  -webkit-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.15);
}

.text-overflow, .dish-card__info--text p, .dish-card__info--text h4, .dish-card__info--text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  padding: 1em 1.3em;
  border-radius: 30px;
  background: linear-gradient(355deg, #9356dc, #ff79da);
  text-decoration: none;
  transition: 300ms;
}
.button__primary {
  font-weight: 400;
  color: white;
}
.button:hover {
  filter: brightness(1.1);
  -webkit-box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.25);
}

.heart-presentation {
  position: relative;
  height: 1em;
  font-size: 1.5em;
  margin-right: 0.5em;
  color: #353535;
  cursor: pointer;
}
.heart-presentation:hover > .full-heart {
  opacity: 1;
}
.heart-presentation:hover > .border-heart {
  opacity: 0;
}
.heart-presentation:active > .full-heart {
  transform: scale(0.9);
}
.heart-presentation .border-heart {
  transition: 300ms;
}
.heart-presentation .full-heart {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: 300ms;
  background: linear-gradient(215deg, #9356dc 30%, #ff79da 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.operating-steps .step-card {
  display: flex;
  position: relative;
  background-color: #f6f6f6;
  padding: 1.3em;
  margin: 0 0 1.5em 0.8em;
  border-radius: 15px;
  transition: 300ms ease-in-out;
}
.operating-steps .step-card:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.operating-steps .step-card:hover > .step-card__icon {
  color: #9356dc;
  transform: scale(1.05);
}
.operating-steps .step-card__number {
  position: absolute;
  left: -1em;
  width: 1.7em;
  height: 1.7em;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  font-size: 0.8em;
}
.operating-steps .step-card__icon {
  color: #7e7e7e;
  font-size: 1.3em;
  margin: 0 1.2em 0 0.5em;
  transition: 300ms ease-in-out;
}
.operating-steps .step-card__explanation {
  font-weight: 600;
}

.restaurant-prev {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 1em;
  position: relative;
  height: 15em;
  cursor: pointer;
  transition: 300ms;
}
.restaurant-prev__img img {
  width: 100%;
  height: 11em;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant-prev__new {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 0.5em 1em;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 3px;
  font-size: 0.8em;
}
.restaurant-prev__new p {
  font-weight: 700;
}
.restaurant-prev__info {
  display: flex;
  justify-content: space-between;
  padding: 0.7em;
}
.restaurant-prev__info p {
  font-weight: 300;
}
.restaurant-prev:hover {
  transform: scale(1.02);
}
.restaurant-prev:active {
  transform: scale(1);
}

.dish-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1em;
  justify-content: space-between;
  overflow: hidden;
  animation: dishes-animation 2000ms forwards;
  opacity: 0;
  transform: translateY(2em);
  cursor: pointer;
}
.dish-card--1 {
  animation-delay: 200ms;
}
.dish-card--2 {
  animation-delay: 400ms;
}
.dish-card--3 {
  animation-delay: 600ms;
}
.dish-card--4 {
  animation-delay: 800ms;
}
.dish-card--5 {
  animation-delay: 1000ms;
}
.dish-card--6 {
  animation-delay: 1200ms;
}
.dish-card--7 {
  animation-delay: 1400ms;
}
.dish-card--8 {
  animation-delay: 1600ms;
}
.dish-card--9 {
  animation-delay: 1800ms;
}
.dish-card--10 {
  animation-delay: 2000ms;
}
.dish-card__info {
  display: flex;
  width: 100%;
}
.dish-card__info--text {
  width: 100%;
  padding: 0.8em 0em 0.7em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dish-card__info--text h4 {
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 0.2em;
}
.dish-card__info--text p {
  font-weight: 400;
  font-size: 0.9em;
  color: #353535;
}
.dish-card__info--price {
  position: relative;
  margin: 2.3em 1em 0 1.5em;
}
.dish-card__info--price span {
  font-size: 0.9em;
  color: #353535;
  font-weight: 800;
}
.dish-card__info--add-dish {
  position: relative;
  width: 0em;
  background-color: #99e2d0;
  transform: translateX(120%);
  transition: 500ms;
  color: white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.4em;
}
.dish-card__info i {
  transform: rotate(-350deg);
  transition: 500ms;
}
.dish-card:hover > .dish-card__info > .dish-card__info--add-dish {
  transform: translateX(0%);
  width: 4em;
}
.dish-card:hover > .dish-card__info > .dish-card__info--add-dish i {
  transform: rotate(0deg);
}

@keyframes dishes-animation {
  0% {
    opacity: 0;
    transform: translateY(2em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
header {
  width: 100%;
  position: relative;
}
header #logo {
  padding: 1.35em 0 0.7em;
}
header #logo img {
  width: 10em;
}
header #localisation {
  background-color: #eaeaea;
  padding: 1em 0;
  box-shadow: inset 0 0.2em 0.2em rgba(0, 0, 0, 0.1);
}
header #localisation i,
header #localisation input {
  color: #353535;
  font-size: 1em;
}
header #localisation input {
  border: none;
  background-color: #eaeaea;
  width: 150px;
  margin-left: 1em;
}
header #localisation input::placeholder {
  color: #353535;
}
header #button-to-home {
  position: absolute;
  height: 100%;
  width: 3em;
  font-size: 1.3em;
  transition: 300ms;
}
header #button-to-home:hover {
  transform: translateX(-0.2em);
}
header #button-to-home a {
  color: #353535;
}

footer {
  width: 100%;
  padding: 1.5em 0 2em 1.5em;
  background-color: #353535;
}
footer a {
  text-decoration: none;
  color: white;
  line-height: 1.6em;
  font-weight: 400;
}
footer a:hover {
  text-decoration: underline;
}
footer h5 {
  font-family: Shrikhand, "sans-serif";
  font-size: 1.1em;
  color: white;
  cursor: pointer;
}
footer .footer-links {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  font-weight: 200;
}
footer .footer-links i {
  width: 2em;
}

.loader {
  position: fixed;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  cursor: wait;
  animation: loader 3000ms;
}
.loader__food-container {
  display: flex;
  font-size: 5em;
}
.loader__food-container--item {
  margin: 0.2em;
}
.loader__food-container #loader-fish {
  color: #9356dc;
  animation: jumping-food 1300ms cubic-bezier(0.43, 1.01, 0.18, 0.98);
}
.loader__food-container #loader-burger {
  color: #ff79da;
  animation: jumping-food 1300ms 1000ms cubic-bezier(0.43, 1.01, 0.18, 0.98);
}
.loader__food-container #loader-pizza {
  color: #99e2d0;
  animation: jumping-food 1300ms 1700ms cubic-bezier(0.43, 1.01, 0.18, 0.98);
}
.loader__text {
  animation: loader-text 2000ms infinite;
  margin-top: 1em;
  font-family: Shrikhand, "sans-serif";
  font-size: 3em;
  font-weight: 700;
}

@keyframes loader {
  0% {
    opacity: 1;
    z-index: 9;
  }
  80% {
    opacity: 1;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
@keyframes jumping-food {
  0% {
    transform: translateY(0px);
  }
  45% {
    transform: rotateY(300deg) translateY(-60px);
  }
  66% {
    transform: translateY(40px);
  }
  84% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes loader-text {
  0% {
    color: #99e2d0;
  }
  25% {
    color: #ff79da;
  }
  75% {
    color: #9356dc;
  }
  100% {
    color: #99e2d0;
  }
}
@media (min-width: 899px) {
  .desktop-discover-functionning {
    display: flex;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
  }
}

#discover-section {
  background-color: #f6f6f6;
  flex-direction: column;
  padding: 2.5em 0.5em 3em 0.5em;
  text-align: center;
}
#discover-section h2 {
  width: 80%;
  margin-bottom: 0.5em;
}
#discover-section p {
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 1.5em;
  color: #353535;
}
@media (min-width: 899px) {
  #discover-section {
    width: 50%;
    background-color: transparent;
  }
}

#functionning-section {
  padding: 2.5em 1.5em 2em;
}
#functionning-section h2 {
  margin-bottom: 1em;
}
@media (min-width: 599px) and (max-width: 899px) {
  #functionning-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 899px) {
  #functionning-section {
    width: 50%;
  }
}

#restaurants-section {
  padding: 3em 1.5em 3em;
  background-color: #f6f6f6;
}
#restaurants-section h2 {
  margin-bottom: 0.9em;
}
@media (min-width: 599px) and (max-width: 899px) {
  #restaurants-section .restaurants-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 1em;
  }
}
@media (min-width: 899px) {
  #restaurants-section .restaurants-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 1em;
  }
}

/* Optional animation */
.desktop-funny-animation {
  display: none;
}
@media (min-width: 899px) {
  .desktop-funny-animation {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    font-size: 4em;
  }
  .desktop-funny-animation .food-anim {
    transform: translateY(2em);
    animation: food-levitating 10000ms cubic-bezier(0, 0.42, 0.75, 0.91) infinite;
  }
  .desktop-funny-animation .food-anim--1 {
    animation-delay: 1850ms;
  }
  .desktop-funny-animation .food-anim--2 {
    animation-delay: 1800ms;
  }
  .desktop-funny-animation .food-anim--3 {
    animation-delay: 2100ms;
  }
  .desktop-funny-animation .food-anim--4 {
    animation-delay: 8200ms;
  }
  .desktop-funny-animation .food-anim--5 {
    animation-delay: 3750ms;
  }
  .desktop-funny-animation .food-anim--6 {
    animation-delay: 8700ms;
  }
  .desktop-funny-animation .food-anim--7 {
    animation-delay: 12600ms;
  }
  .desktop-funny-animation .food-anim--8 {
    animation-delay: 8400ms;
  }
  .desktop-funny-animation .food-anim--9 {
    animation-delay: 7200ms;
  }
  .desktop-funny-animation .food-anim--10 {
    animation-delay: 24000ms;
  }
  .desktop-funny-animation .food-anim--1, .desktop-funny-animation .food-anim--5, .desktop-funny-animation .food-anim--8 {
    color: #9356dc;
  }
  .desktop-funny-animation .food-anim--4, .desktop-funny-animation .food-anim--2, .desktop-funny-animation .food-anim--6, .desktop-funny-animation .food-anim--10 {
    color: #ff79da;
  }
  .desktop-funny-animation .food-anim--3, .desktop-funny-animation .food-anim--9, .desktop-funny-animation .food-anim--7 {
    color: #99e2d0;
  }
}
@keyframes food-levitating {
  0% {
    transform: translateY(2em);
  }
  100% {
    transform: translateY(-10em);
  }
}

.menu-body {
  background-color: rgba(153, 226, 208, 0.2);
}
.menu-body header {
  background-color: white;
}

.restaurant-illustration {
  width: 100%;
  height: 16em;
  margin-bottom: -2.5em;
}
@media (min-width: 899px) {
  .restaurant-illustration {
    margin-bottom: 4em;
  }
}
.restaurant-illustration img {
  width: 100%;
  height: 25em;
  object-fit: cover;
}

#menu-grid {
  position: relative;
  background-color: #f6f6f6;
  padding: 2em 1em;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
@media (min-width: 899px) {
  #menu-grid {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.restaurant-name {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.8em;
}
.restaurant-name h1 {
  font-family: Shrikhand, "sans-serif";
  font-size: 1.8em;
}
.restaurant-name .heart-presentation {
  margin-right: 0.5em;
}

.menu-moment {
  margin-bottom: 2em;
}
.menu-moment h3 {
  position: relative;
  text-transform: uppercase;
  color: #353535;
  margin-bottom: 1.2em;
  font-weight: 400;
  font-size: 1em;
}
.menu-moment h3::after {
  content: "";
  position: absolute;
  bottom: -0.5em;
  left: 0;
  width: 2.5em;
  height: 3px;
  background-color: #99e2d0;
}
@media (min-width: 899px) {
  .menu-moment {
    width: 32%;
  }
}

.order-btn {
  margin: 3em 0 1.5em;
  cursor: pointer;
}
.order-btn .button {
  width: 12em;
  color: white;
  font-weight: 400;
}
@media (min-width: 899px) {
  .order-btn {
    margin: 1em 0 1.5em;
  }
}

@media (min-width: 899px) {
  .desktop-dishes-presentation {
    display: flex;
    justify-content: space-between;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-thumb {
  background: #9356dc;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bd9fe0;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

/*# sourceMappingURL=style.css.map */
