// stores list
#localisationContainer {
	display: flex;
	width: 100%;
	margin-bottom: 18vh;
	@include mobile-breakpoint {
		flex-direction: column-reverse;
	}
	.localisation-list {
		width: 35%;
		min-width: 375px;
		height: 600px;
		background-color: $color-primary;
		padding: 2em;
		z-index: 1;
		-webkit-box-shadow: 20px 0px 19px -5px rgba(0, 0, 0, 0.27);
		box-shadow: 20px 0px 19px -5px rgba(0, 0, 0, 0.27);
		@include tablet-breakpoint {
			padding: 2em 1em;
		}
		@include mobile-breakpoint {
			width: 100%;
			min-width: inherit;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
		&__search {
			display: flex;
			justify-content: space-between;
			margin-bottom: 1.5em;
			width: 100%;
			max-width: 400px;
			input {
				width: 87%;
				border: none;
				background-color: rgb(223, 223, 223);
				padding: 0.4em 0 0.4em 0.4em;
			}
		}
		&__stores {
			color: $white;
			width: 100%;
			height: 90%;
			overflow-y: scroll;
			a {
				color: $white;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.localisation-map {
		width: 65%;
		height: 600px;
		background-color: $color-primary-light;
		@include mobile-breakpoint {
			width: 100%;
			margin-bottom: 1em;
			height: 390px;
		}
	}
}
// store
.localisation-list__stores--store {
	border-top: 1px;
	border-style: dotted none none;
	padding-top: 1em;
	padding: 1.5em 1.5em 1.5em 0.5em;
	transition: $short-animation;
	cursor: pointer;
	h6 {
		font-size: 1em;
		margin-bottom: 1em;
	}
	.store-adresse {
		margin-bottom: 1.2em;
	}
	.store-phone,
	.store-mail {
		display: flex;
		margin-bottom: 0.7em;
		img {
			height: 20px;
			width: 20px;
			margin-right: 1em;
		}
	}
	&:hover {
		background-color: $color-primary-medium;
	}
}

// maps
#map {
	height: 100%;
	min-height: 600px;
	width: 100%;
	@include mobile-breakpoint {
		min-height: inherit;
		height: 390px;
	}
}
.maps-store-preview {
	padding-right: 1.5em;
	&__name {
		color: $color-primary;
	}
	&__address {
		margin-bottom: 1em;
	}
	&__contact {
		margin-bottom: 1em;
		a {
			color: $color-primary;
			text-decoration: none;
		}
	}
	&__hours {
		margin-bottom: 1em;
	}
	&__itinerary {
		color: $color-primary;
		text-decoration: none;
	}
}
