.partner-container {
	height: 350px;
	@include tablet-breakpoint {
		margin-bottom: 0em;
	}
	@include mobile-breakpoint {
		height: 100%;
		margin-bottom: 2em;
	}
}

#actualitiesPartnerSlider {
	width: 50%;
	position: relative;
	overflow-x: hidden;
	@include tablet-breakpoint {
		width: 584px;
		height: 350px;
	}
	@include mobile-breakpoint {
		margin: 0 auto;
	}
	@media (max-width: 620px) {
		width: 350px;
		max-width: 95%;
		height: 220px;
	}
	.translateX-slider {
		position: absolute;
		display: flex;
		width: 400%;
		animation: fade 14000ms infinite;
		.partner-slider-img {
			transition: 1000ms;
			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
}

@keyframes fade {
	0% {
		transform: translateX(0%);
	}
	25% {
		transform: translateX(-25%);
	}
	28% {
		transform: translateX(-25%);
	}
	50% {
		transform: translateX(-50%);
	}
	53% {
		transform: translateX(-50%);
	}
	75% {
		transform: translateX(-75%);
	}
	100% {
		transform: translateX(-75%);
	}
}

@-webkit-keyframes fade {
	0% {
		transform: translateX(0%);
	}
	25% {
		transform: translateX(-25%);
	}
	28% {
		transform: translateX(-25%);
	}
	50% {
		transform: translateX(-50%);
	}
	53% {
		transform: translateX(-50%);
	}
	75% {
		transform: translateX(-75%);
	}
	100% {
		transform: translateX(-75%);
	}
}
