.button__square--transparent {
	@extend .button-square-medium;
	background-color: rgba(255, 255, 255, 0.7);
	color: $color-primary;
	border: solid 1px $color-primary;
	cursor: pointer;
	@extend .button-active;
}
.button__square--green {
	@extend .button-square-medium;
	background-color: $color-primary;
	color: $white;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.41);
	box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.41);
	@extend .button-active;
	a {
		color: $white;
		text-decoration: none;
	}
}
.small-button__square--green {
	border: none;
	padding: 0.3em 0.4em;
	background-color: $color-primary;
	color: $white;
	font-weight: 500;
	margin: 0 1.2em 0 -5px;
	@extend .button-active;
}
.human-ressources-offers__links-mail-to {
	display: block;
	@extend .button-square-medium;
	padding: 0.7em 3.5em;
	background-color: $color-primary-light;
	color: $black;
	text-decoration: none;
	@extend .button-active;
	-webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.41);
	box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.41);
}
