.impact-disclaimer {
	position: absolute;
	@extend .flex-center;
	text-align: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 0 4em;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 2;
}
