.heart-presentation {
	position: relative;
	height: 1em;
	font-size: 1.5em;
	margin-right: 0.5em;
	color: $greyer;
	cursor: pointer;
	&:hover > .full-heart {
		opacity: 1;
	}
	&:hover > .border-heart {
		opacity: 0;
	}
	&:active > .full-heart {
		transform: scale(0.9);
	}
	.border-heart {
		transition: $anim-short-time;
	}
	.full-heart {
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0;
		transition: $anim-short-time;
		background: linear-gradient(215deg, rgba(147, 86, 220, 1) 30%, rgba(255, 121, 218, 1) 90%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
