#pagesH1 {
	position: relative;
	padding: 3em 0 1em;
	text-transform: uppercase;
	text-align: center;
	color: $color-primary;
	font-weight: 100;
	&::after {
		content: "";
		position: absolute;
		height: 1px;
		width: 35%;
		background-color: $color-primary;
		top: 68.5%;
		right: 0;
		@include tablet-breakpoint {
			width: 30%;
		}
	}
	&::before {
		content: "";
		position: absolute;
		height: 1px;
		width: 35%;
		background-color: $color-primary;
		top: 68.5%;
		left: 0;
		@include tablet-breakpoint {
			width: 30%;
		}
	}
}
