#pauseBtn {
	position: fixed;
	bottom: 1em;
	right: 1em;
	opacity: 0.4;
	transition: $short-anim;
	&:hover {
		opacity: 1;
	}
}
#pauseMenu {
	display: none;
	@extend .absolute-center;
	width: 60%;
	max-width: 750px;
	padding: 2em 1em;
	@include tablet-breakpoint {
		font-size: 0.8em;
	}
	#closePauseMenuBtn {
		@extend .quit-menu;
	}
}
