.services-container__eco-responsability {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 4em;
	@include mobile-breakpoint {
		flex-direction: column;
	}
	h3 {
		position: relative;
		text-transform: uppercase;
		font-size: 1.5em;
		font-weight: 600;
	}
	p {
		margin-top: 2em;
		@include tablet-breakpoint {
			margin-top: 1em;
		}
	}
	.eco-responsability--img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&--article {
		width: 100%;
		position: relative;
		img {
			position: absolute;
			z-index: -1;
			height: 34px;
			@media (max-width: 446px) {
				right: 0;
			}
		}
		&-texte {
			padding: 1.5em;
			span {
				font-weight: 1000;
				text-transform: uppercase;
			}
		}
	}
}
