.services-container {
	&__delivery {
		display: flex;
		justify-content: space-between;
		width: 100%;
		min-height: 380px;
		padding: 1.5em 0;
		@include tablet-breakpoint {
			margin-bottom: 4em;
		}
		@include mobile-breakpoint {
			flex-direction: column;
			margin-bottom: 1em;
		}
		.video-part {
			width: 49%;
			@include mobile-breakpoint {
				width: 100%;
				height: 350px;
				margin-bottom: 1.5em;
			}
			@media (max-width: 580px) {
				height: 260px;
			}
			.video {
				height: 100%;
				width: 100%;
			}
		}
		.article-part {
			width: 49%;
			@include mobile-breakpoint {
				width: 100%;
				min-height: 270px;
			}
			h3 {
				color: $cama-blue;
			}
			article {
				display: flex;
				height: 70%;
				@media (max-width: 580px) {
					flex-direction: column;
				}
				.delivery-p {
					position: relative;
					margin-top: 10px;

					p {
						padding: 0 15px;
						text-align: justify;
					}
				}
				.icons {
					position: absolute;
					top: 150px;
					width: 100%;
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					@include tablet-breakpoint {
						top: 190px;
					}
					@include mobile-breakpoint {
						top: 130px;
					}
					@media (max-width: 580px) {
						position: relative;
						top: 0;
					}
					.delivery-preview {
						display: flex;
						flex-direction: column;
						align-items: center;
						text-align: center;
						width: 49%;
						img {
							object-fit: cover;
							width: 52px;
							margin-bottom: 0.6em;
							border-radius: 50%;
							-webkit-box-shadow: 0 10px 19px -5px rgba(0, 0, 0, 0.27);
							box-shadow: 0 10px 19px -5px rgba(0, 0, 0, 0.27);
						}
						p {
							text-align: center;
							span {
								font-weight: 600;
								color: $cama-blue;
							}
						}
					}
				}
				.france-delivery {
					width: 45%;
					@media (max-width: 580px) {
						width: 100%;
					}
				}
				.paris-delivery {
					border-left: 1px solid $cama-blue;
					width: 55%;
					@media (max-width: 580px) {
						width: 100%;
						border: none;
						border-top: 1px solid $hr-senior;
						padding-top: 1.5em;
					}
					.delivery-preview {
						width: 25%;
					}
				}
			}
		}
	}
}
