#pagesH1 {
	position: relative;
	padding: 3em 0 1em;
	text-transform: uppercase;
	text-align: center;
	color: $black;
	font-weight: 100;
	&::after {
		content: "";
		position: absolute;
		height: 1px;
		width: 35%;
		background-color: $black;
		top: 68.5%;
		right: 0;
		@media (max-width: 950px) {
			width: 30%;
		}
		@media (max-width: 720px) {
			width: 25%;
		}
		@media (max-width: 570px) {
			width: 20%;
		}
		@media (max-width: 470px) {
			width: 11%;
		}
	}
	&::before {
		content: "";
		position: absolute;
		height: 1px;
		width: 35%;
		background-color: $black;
		top: 68.5%;
		left: 0;
		@media (max-width: 950px) {
			width: 30%;
		}
		@media (max-width: 720px) {
			width: 25%;
		}
		@media (max-width: 570px) {
			width: 20%;
		}
		@media (max-width: 470px) {
			width: 11%;
		}
	}
}
