.header {
	display: flex;
	justify-content: space-between;
}
.main {
	width: 90%;
	@extend .absolute-center;
	#charactersContainer {
		display: flex;
		justify-content: space-between;
		padding: 0 2em;
	}
	#dialogContainer {
		margin: 1.5em 0;
		min-height: 8.5em;
		@include tablet-breakpoint {
			font-size: 0.9em;
		}
		.title {
			@include tablet-breakpoint {
				font-size: 0.9em;
			}
		}
	}
	#userOptions {
		@extend .flex-center;
		flex-direction: column;
		@include tablet-breakpoint {
			font-size: 0.9em;
		}
		.options {
			color: white;
			width: 80%;
			max-width: 500px;
			margin-bottom: 1em;
		}
	}
}
.background1-1 {
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(3, 3, 52, 1) 14%, rgba(0, 0, 0, 1) 100%);
}

main {
	max-width: 999px;
}
