.background-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
h1 {
	color: black;
	font-size: 5em;
	text-align: center;
	padding-top: 1em;
	@include tablet-breakpoint {
		font-size: 3em;
	}
}
.home-main {
	display: flex;
	justify-content: space-around;
	margin: 4em auto 0;
	button {
		@include tablet-breakpoint {
			font-size: 0.9em;
		}
		min-width: 9em;
		transition: $short-anim;
		@include tablet-breakpoint {
			min-width: unset;
		}
		&:hover {
			transform: scale(1.02);
		}
	}
	.home-btn {
		background-color: black;
	}
}
#saveBtnContainer {
	margin-top: 1em;
	display: flex;
	justify-content: center;
}

footer {
	display: flex;
	flex-direction: column;
	width: 16em;
	justify-content: space-around;
	margin: 12em auto 0;
	font-size: 0.7em;
	@include tablet-breakpoint {
		margin: 1em auto 0;
	}
	#homeOptionsBtn {
		margin-bottom: 3em;
		@include tablet-breakpoint {
			margin-bottom: 1em;
		}
	}
}
