$color-primary: #214b41;
$color-primary-light: #f0f9f7;
$color-primary-medium: #4f897d;
$white: #ffffff;
$black: #000000;

$wine-and-co: #a91923;
$tgtg: #79d0c6;
$potager-city: #53b4e5;
$aircampus: #f80b56;

$hr-junior: #1cb092;
$hr-senior: #1ba39e;
$hr-vacataire: #0c8389;
$hr-spontanus: #5fb0a1;

$cama-blue: #1ba39b;
$cama-green: #1bbc9b;

$short-animation: 200ms;
$long-animation: 500ms;
