#homeAboutUs {
	width: 100vw;
	.home-about-us__article-container {
		display: flex;
		@include mobile-breakpoint {
			flex-direction: column-reverse;
		}
		&--img-xl {
			width: 55%;
			object-fit: cover;
			@include mobile-breakpoint {
				width: 100%;
				height: 30vh;
			}
		}
		&--article {
			width: 45%;
			padding: 5em 4em 0;
			@include mobile-breakpoint {
				padding: 5em 2em 0;
				width: 100%;
			}
			h1 {
				font-weight: 600;
				font-size: 1.5em;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
			h3 {
				font-weight: 500;
				text-transform: uppercase;
			}
			&--paragraph {
				text-align: justify;
				line-height: 1.3em;
				margin: 2em 0;
			}
			.pictos-container {
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
				width: 100%;
				margin: 2em 0 2em;
				&__element {
					width: 16%;
					min-width: 100px;
					text-align: center;
					justify-content: center;
					margin: 0 0.1em;
					img {
						object-fit: cover;
						margin: 1em 0;
						border-radius: 50%;
						-webkit-box-shadow: 1px 8px 12px 0px rgba(0, 0, 0, 0.31);
						box-shadow: 1px 8px 12px 0px rgba(0, 0, 0, 0.31);
					}
					p {
						width: 100%;
					}
				}
			}
		}
	}
	.home-about-us__images-container {
		display: flex;
		max-height: 300px;
		min-height: 200px;
		@include mobile-breakpoint {
			display: none;
		}
		img {
			width: 20%;
			object-fit: cover;
		}
	}
}
