#chaptersContainer {
	display: none;
	@extend .absolute-center;
	width: 90%;
	max-width: 750px;
	max-height: 90vh;
	overflow: scroll;
	h3 {
		text-align: center;
	}
	h4 {
		margin-top: 3em;
	}
	#closeChapterBtn {
		@extend .quit-menu;
	}
	.chapitreDisplay {
		a {
			margin-left: 2em;
			@include tablet-breakpoint {
				font-size: 0.8em;
			}
		}
		#chapterSelectionPartOne {
			a {
				color: aqua;
			}
		}
		#chapterSelectionPartTwo {
			a {
				color: burlywood;
			}
		}
	}
}
