#impact-container {
	position: relative;
	z-index: 9;
	.userImpactChoice {
		width: 150px;
		height: 150px;
		position: absolute;
		left: 0;
		top: -2em;
		border-radius: 50%;
		border-top: 6px solid red;
		animation: rotator 2s linear infinite;
		animation-direction: all;
		z-index: 9;
		opacity: 0;
		&:before {
			content: "";
			@extend .absolute-center;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: red;
			z-index: 9;
		}
	}
}
@keyframes rotator {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-90deg);
	}
	50% {
		transform: rotate(-180deg);
	}
	75% {
		transform: rotate(-270deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
