#homeCarouselFullPage {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
	.home-carousel {
		&__images-full {
			width: 100vw;
			height: 100vh;
			object-fit: cover;
		}
		&__container {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			left: 50%;
			width: 90%;
			max-width: 900px;
			bottom: 0;
			transform: translateX(-50%);
			&--logo {
				max-width: 500px;
				width: 95%;
				margin-bottom: 5vh;
			}
			&--arrow {
				margin: 1.5em 0;
				width: 60px;
				animation: arrow-up-and-down infinite 7s;
				cursor: pointer;
			}
		}
	}
}

@keyframes arrow-up-and-down {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}
