#threeItemContainer {
	@extend .absolute-center;
	width: 92%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;

	.itemChoice {
		@include tablet-breakpoint {
			h3 {
				font-size: 0.6em;
			}
			width: 33%;
		}
	}
	.itemChoice img {
		height: 8em;
		width: 9em;
		object-fit: cover;
		transition: $short-anim;
		@include tablet-breakpoint {
			transform: scale(0.6);
		}
		&:hover {
			transform: scale(1);
		}
	}
}
