#parameterContainer {
	display: none;
	@extend .absolute-center;
	width: 90%;
	max-width: 750px;
	h3 {
		text-align: center;
		margin-bottom: 2em;
	}
	.nes-select {
		margin-bottom: 2em;
		select {
			@include tablet-breakpoint {
				font-size: 0.8em;
				width: 90%;
			}
		}
	}
	.checkbox-container {
		display: flex;
		flex-direction: column;
		input {
			margin-bottom: 2em;
		}
	}
	#closeOptBtn {
		@extend .quit-menu;
	}
	#userRename {
		margin-top: 2em;
	}
}
