#petWalkContainer {
	position: absolute;
	left: -10%;
	width: 100%;
	bottom: 0;
	#petWalking img {
		height: 8em;
		animation: walkingPet 22s infinite ease-in-out;
	}
}

@keyframes walkingPet {
	0% {
		transform: translateX(-12vw);
	}
	100% {
		transform: translateX(110vw);
	}
} ;
