// extensions
.responsive-base {
	position: fixed;
	display: flex;
	z-index: 2;
	flex-direction: column;
	top: 0;
	width: 100%;
	text-align: center;
}
.link-display {
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	transition: $short-animation;
}

// header responsive btn
#headerHamburger {
	position: fixed;
	display: none;
	right: 1em;
	top: 1.5em;
	width: 30px;
	height: 30px;
	border: none;
	background-color: green;
	cursor: pointer;
	&:active {
		transform: scale(0.98);
	}
	@include tablet-breakpoint {
		display: block;
	}
	z-index: 9;
}

// header responsive
#responsiveHeaderDom {
	display: none;
	z-index: 8;
	.responsive-header-primary {
		@extend .responsive-base;
		padding-top: 80px;
		background-color: $color-primary;
		a {
			@extend .link-display;
			color: $white;
			margin: 1em 0;
			&::after {
				// ext from header
				@extend .links-after;
				background-color: $white;
				width: 20%;
				left: 50%;
				transform: translateX(-50%);
			}
			&:hover {
				&::after {
					opacity: 1;
					transform: translateX(-50%);
				}
			}
		}
		@media (min-width: 1250px) {
			display: none;
		}
	}
	.responsive-header-transparent {
		@extend .responsive-base;
		padding-top: 60px;
		background-color: rgba($color: #ffffff, $alpha: 0.95);
		a {
			@extend .link-display;
			color: $color-primary;
			margin: 1em 0;
			&::after {
				// ext from header
				@extend .links-after;
				background-color: $color-primary;
				width: 20%;
				left: 50%;
				transform: translateX(-50%);
			}
			&:hover {
				&::after {
					opacity: 1;
					transform: translateX(-50%);
				}
			}
		}
		@media (min-width: 1250px) {
			display: none;
		}
	}
}
